* {
  margin: 0;
  padding: 0;
  font: normal 12px verdana, arial, tahoma, sans-serif;
  justify-content: center;
}

body,
html {
  padding: 20px 20px 20px 20px;
  background: #555;
}

.name,
.pessoal,
.contato,
.instrucao,
.objetivo,
.graduacao,
.habilidadeTech {
  margin: 25px 0 25px 0;
  font-weight: bold;
  text-align: center;
}

.alvo,
.curso {
  text-align: center;
}

.rounded,
img {
  width: 150px;
  height: 150px;
}

.habilidadeAds,
img {
  margin: 3px 2px 3px 2px;
  width: 120px;
  height: 80px;
}

.card {
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
  margin: 25px 0 25px 0;
  width: 300px;
}

.card-img-top,
img {
  margin: 0;
  height: 170px;
}

.card-title,
.card-sub-title {
  font-weight: bold;
  text-align: center;
}

.accordion-button {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
  font-weight: bold;
}

.footer {
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
}

/*CSS-desktop*/
@media screen and (min-width: 768px) {
}
